<p id="notice"><%= notice %></p>

<p>
  <strong>Post name:</strong>
  <%= @post.post_name %>
</p>

<p>
  <strong>Post body:</strong>
  <%= @post.post_body %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
